[2016-11-06 00:53] jimcloudman opened #1 "502 Bad Gateway errors during use"
It seems to come up randomly, but occasionally when using Directus from the docker container I get an error in the browser. The page only says "502 Bad Gateway" when I attempt to go to any page in Directus. The only recourse appears to be restarting the container; Directus works normally for some time after that.

The Docker container logs don't show anything helpful, though I'm new to Docker so I

[2016-11-06 14:46] WellingGuzman commented on #1
Hey @jimcloudman, Thanks for reporting this, let me ping @luissantos and see what he thinks about this.

[2016-11-17 22:02] giodamelio opened #2 "Add default login credentials to the readme"
I had to hunt around a bit to figure out the default username and password, and how to set them.

[2016-11-26 20:56] merunga commented on #2
@giodamelio can you share the credentials and the process?

[2016-11-27 20:11] #2 closed

[2016-11-27 20:11] WellingGuzman commented on #2
@merunga email: **admin@admin.com** password: **admin**

I added on the README already.

[2016-12-08 02:04] rwatts3 commented on #1
also seeing this error as well.

[2016-12-20 03:20] tonymke commented on #1
It looks like the image's startup script is entirely dependent on some variables existing. I was able to get it running by using the same variables used in the docker-compose yaml.

[2016-12-20 17:24] WellingGuzman commented on #1
hey @tonymke, would you mind to clarify so other can fix their problem or to send a PR?

[2017-01-16 22:35] jcmendez commented on #1
+1

[2017-01-19 09:18] danielabbatt commented on #1
If you set the variables that are configured in the docker-compose.yml file then you get a working result:
     - MYSQL_USER=directus
     - MYSQL_PASSWORD=directus
     - MYSQL_ENV_MYSQL_DATABASE=directus
     - MYSQL_PORT_3306_TCP_ADDR=mysql
     - MYSQL_PORT_3306_TCP_PORT=3306
     - MYSQL_ENV_MYSQL_PASSWORD=directus
     - MYSQL_ENV_MYSQL_USER=directus
Obviously adjust the variables to match y

[2017-01-19 10:10] jcmendez commented on #1
@danielabbatt - I think the OP already went past setting the variables.  He states directus was already running and occasionally gives the bad gateway message.  I'm experiencing a similar issue.  @jimcloudman any luck trying to narrow down when this happens so we can reproduce the issue?

[2017-01-19 11:11] danielabbatt commented on #1
Ah I see, I wasn't clear on that. Yes I have just noticed mine has done the same, overnight. Also it frequently doesn't respond correctly and so the UI breaks a lot. Running on plain apache it seems to work OK though so don't know if it's something to do with caddy?

[2017-01-20 07:48] WellingGuzman commented on #1
Hey everyone, I've updated the caddy version to the most recent one, **0.9.4** (https://github.com/directus/directus-docker/commit/37e434bfc6b0c3f088f18133b9481418a483152c)

It should stop the random 502 Bad gateway errors.

Let us know if this works for everyone.

[2017-01-21 07:16] Froelund commented on #1
hi .
I just tested this fix, and I still have the issue with random 502's.

[code]

[2017-01-21 16:47] Froelund commented on #1
Here's some of log-lines from `/var/log/caddy.log'
[code]

`/var/log/supervisor/caddy_stderr.log` is empty, and `/var/log/supervisor/caddy_stdout.log` does not contain any errors.

[2017-01-23 10:32] Froelund commented on #1
@WellingGuzman Are you sure using Caddy is the right decision?

[2017-01-24 00:51] WellingGuzman commented on #1
@Froelund to be honest I've never used it or test Directus under it, and I'm newbie in the Docker world, So for me it's hard to know my way around to fix it.

@luissantos built this docker container, and he decided to use Caddy as it was lightweight and we agreed to create a container that was as light as possible.

We are busy working on the next Directus release (6.4) so I will try my best to de

[2017-02-02 04:47] Froelund commented on #1
@WellingGuzman Okay - fair enough.

Since @luissantos isn't really reacting to this issue with the Caddy implementation, would you accept a PR where I base directus on top of the PHP official image? I'm not sure how lightweight the container will end up being, but the `7.0-apache` is 158 MB alone. Current directus container is 303 MB.

[2017-02-02 06:24] WellingGuzman commented on #1
@Froelund Yes I will accept a PR.

We will set the caddy into a different branch while we wait for @luissantos.

Thanks.

[2017-02-02 06:49] Froelund commented on #1
Great. I'll give it a go.

[2017-02-02 07:57] rwatts3 commented on #1
Awesome thank you !!

On Wed, Feb 1, 2017, 11:49 PM Jørgensen <notifications@github.com> wrote:

[2017-02-03 16:53] Froelund commented on #1
I made the pull-request #3 , but there doesn't seem to be any automated distribution. I think we would need @luissantos to push to docker hub.

[2017-02-04 12:39] luissantos commented on #1
@Froelund Could you please have a look at the latest docker container. It is not working for me.
`
Parse error: syntax error, unexpected '{' in /var/www/html/api/configuration.php on line 72`

I will try to have a look later today.

[2017-02-04 13:05] Froelund commented on #1
I found the same issue, but I believe it isn't related to docker dist.
There is a [pull-request](https://github.com/directus/directus/pull/1344) for a fix, and it seems @WellingGuzman found that there is an issue with the installation process.

[2017-02-04 13:11] luissantos commented on #1
@Froelund thanks. I will keep an eye on that pull request.

[2017-02-06 21:29] WellingGuzman commented on #1
After trying hard what was going on, found the issue it was creating the configuration file using the CLI. I made a fix here: https://github.com/directus/directus/commit/8c1aecd0933a6db295f4636ab1aa327aa8340c21 but it will be tagged on 6.3.7 soon. just trying to squeeze two more thing in the next patch version.

@luissantos please confirm if that commit fixes it.

[2017-02-08 01:00] carsey opened #4 "Syntax error when hitting server"
After using `docker-compose up` to start the server, hitting `localhost:8080` is causing this PHP error:
[code]

PHP version: 5.6
Directus version: 6.4

Line 72 of that file is
[code]

[2017-02-08 19:17] WellingGuzman commented on #4
Hey @carsey,

Thanks for reporting this, we have solved the problem and we are releasing 6.3.7 and use it in the docker, sorry for any inconveniences.

I will let you know as soon as it's pushed.

[2017-02-09 16:44] WellingGuzman commented on #4
Hey @carsey I updated the docker image, please update the image and it should be fixed.

I'm closing this ticket, if the problem still happening I will re-open it.

[2017-02-09 16:44] #4 closed

[2017-02-09 16:48] WellingGuzman commented on #1
The new Directus path version was released, and the problem (`Parse error: syntax error, unexpected '{' in /var/www/html/api/configuration.php on line 72`) should be fixed.

Let me know.

The 502 Bad Gateway issue was also solved as it was a issue related to caddy, and it was updated to apache.

Probably we could have multiple options in the future, than just apache. :)

Thanks @luissantos,  @Froe

[2017-02-09 16:48] #1 closed

[2017-04-11 21:02] davetrux opened #5 "Docker Container Behind Reverse Proxy Redirects Improperly"
We have an nginx reverse proxy in front of our Docker server. We want our Directus container to be visible at https://oursite.com/cms/.  But the Directus container wants the app to be in the root and redirects incorrectly for first login, instead of https://oursite.com/cms/login.php it is redirecting to https://oursite.com/login.php. Is there some sort of environment variable we have to set? We ar

[2017-04-15 10:06] Froelund commented on #5
You could run directus as a sub-domain instead. https://api.oursite.com/

[2017-04-19 09:01] peremp opened #8 "Config.php and configuration.php always created on docker-compose up"
Any time I do a docker-compose up, the _configuration.php_ file is generated with the content of _configuration.stub_.

So, even if I create a volume for the file _configuration.php_, the modified file is replaced on each _docker-compose up_ with the content of _configuration.stub_

Any suggestion on how to solve this? Should I modify the configuration.stub file?

[2017-04-19 15:10] davetrux commented on #5
We did that as a workaround and it's working, but we really need subdirectories. Our solution is using automation and we can't add DNS entries like we do subdirectories.

[2017-04-19 15:10] #5 closed

[2017-04-19 17:35] WellingGuzman commented on #5
Hey @davetrux, it's not supported but this seems to be something useful to have.

I will take a look into it.

[2017-04-19 17:42] WellingGuzman commented on #8
I don't know if I'm understanding correctly, but `configuration.php` file is created based on `configuration.stub`, and every time you run `docker-compose up` the `configuration.php` is recreated.

[2017-04-19 18:01] WellingGuzman commented on #5
hey @davetrux I added a variable where you can change the subdirectory configuration, I don't know if this will solve your problem but it's probably one step closer to it, I'd like you to help me find the solution you are looking for.

Commit: https://github.com/directus/directus-docker/commit/c7c2bfae7c51748c5acbf7acb5ec987450c61107

[2017-04-20 06:21] peremp commented on #8
Exactly, and that's the problem, because I have created some hooks on configuration.php... and every time I do a composer-up those changes are lost.

[2017-04-22 23:57] WellingGuzman commented on #8
@peremp that's how `docker-compose up` should work, it re-create the container? I'm not an expert in the area, but it seems that's how it should work.

Maybe you are trying to find a different command, what are you trying to accomplish when you run `docker-compose up` after you have created the container?

[2017-04-23 18:02] Froelund commented on #8
We could make a check, to see if the `configuration.php` already exists [before doing directus install](https://github.com/directus/directus-docker/blob/master/directus-base-layer/usr/local/bin/run-directus#L60). I guess it would make sense, when you map those files into the container from file-system. Although I might rather want to map-overwrite the stub if I were you. That way you can still man

[2017-04-24 08:13] peremp commented on #8
@WellingGuzman The problem is that the install script is launched after the volumes are synchronized, so the _config.php_ & _configuration.php_ are overwritten. And since the configuration file is used to define hooks/filters, this is an issue.

@Froelund I think that your solution could work.

Anyway, a co-worker is also working on a solution so we will keep you up to date.

[2017-04-24 08:17] Froelund commented on #8
Sounds good @peremp.

[2017-04-24 20:01] davetrux commented on #5
I cloned the repo on our build server. I edited the makefile to change the version number of directus-base-layer to be v0.0.8 which is what the directus 6.3 Dockerfile expects. I then executed the makefile. Then I built an image from the directus 6.3 Dockerfile.

Then, I added this to our test docker-compose file:

- DIRECTUS_PATH=/directus

It still doesn't redirect properly. Did I miss something

[2017-04-25 03:42] Froelund commented on #5
@davetrux Is there any reason why you want to build Directus yourself?
I just tested it with below, and didn't work for me either.
[code]

[2017-04-25 07:10] mawrkus commented on #8
I've found a simple workaround for our use case: I create .stub files for each environment (dev, staging, ...) and a Dockerfile to copy them into the container (depending on the target environment).
This way we can control/tweak the content of the config files generated.

[2017-04-26 13:53] davetrux commented on #5
I had originally tried it without building it myself and it didn't work, so
I decided to build it myself in case there was some reason that I could not
see that kept me from getting the change.

On Mon, Apr 24, 2017 at 11:42 PM, Jørgensen <notifications@github.com>
wrote:

[2017-04-26 17:27] WellingGuzman commented on #8
hey @mawrkus, would you care to show us how this works? :)

[2017-04-27 07:05] mawrkus commented on #8
Sure! This is what my staging Dockerfile looks like:

[code]

And my docker-compose.override.yml (for local development):

[code]

[2017-04-28 20:40] WellingGuzman commented on #5
Hey @davetrux,

Are you looking for something like this:

[code]

So Directus downloads into `/root/www/cms` instead of `/var/www/html` where the localhost point to `/root/www` and directus will be hosted as subdirectory in `cms` (localhost/cms)?

[2017-05-01 05:21] WellingGuzman commented on #8
Thanks @mawrkus, I'd try to squeeze this into the docker repo, maybe this can be helpful to someone else. (can we use it?)

@peremp does this PR https://github.com/directus/directus-docker/pull/9 and/or the above workaround solve your issue?

[2017-05-02 06:50] peremp commented on #8
Yes. Thank you all ;)

[2017-05-02 10:54] mawrkus commented on #8
@WellingGuzman sure, feel free to use it!

[2017-05-05 09:07] Jcambass opened #11 "Add persistent volume"
The directus docker image should contain a Volume where all uploaded files etc. should be persisted. The same goes for the MySQL Database

[2017-05-08 21:27] davetrux commented on #5
That may work. My problem is that I have to use a reverse proxy to map a url (that looks like a subdirectory) to a container running on a port that is only open internally. There is no way for me to tell Directus that it should handle the url when redirecting.

[2017-05-10 20:07] WellingGuzman commented on #8
Thanks I will close this as @peremp solved the problem with PR#9.

I will try to implement @mawrkus solution into the repository, if someone else would like to try to incorporate into the repo we would love to. @mawrkus ? :)

[2017-05-10 20:07] #8 closed

[2017-05-10 20:09] WellingGuzman commented on #11
Thanks for the suggestion, if someone want to jump in to support this, I'd be glad, otherwise it will need to wait until the release of Directus 6.4

[2017-05-10 20:22] WellingGuzman commented on #5
Hey @davetrux,

I understand a bit more your issue now, so the actual url (container) won't match the proxy url. Couldn't this resolved by match the same subdirectory in directus as the reverse proxy?

I'd love to get this nailed down in some way.

[2017-05-31 07:44] WellingGuzman opened #15 "Missing directus email (sender)"
Originally reported: https://github.com/directus/directus/issues/1530
Title: Swiftmailer validation refuses RFC 2822 compliant e-mails

## Version Info
  - Directus docker 6.3
  - PHP version: 7.1.2

## Steps to Reproduce
 1.  Run a directus docker instance
 2.  (Optional: Create a new user)
 3.  Log out
 4. Press the reset password button
 5. Observe the network call to /forgot-password fail with

[2017-05-31 10:47] GeeWizWow commented on #15
@WellingGuzman Thanks, I'll track progress here then.

[2017-05-31 12:01] Froelund commented on #15
I just tried to reproduce, and the error also appears in the log `docker exec directus less /var/www/html/api/logs/2017-05-31.log`
[code]

[2017-05-31 17:57] WellingGuzman commented on #15
I juggled this too early, but in fact directus doesn't have a way to specify this option through the command line, so any way I will keep this ticket here, and I will fix this on the command line module.

[2017-05-31 18:32] WellingGuzman commented on #15
Partially fixed by: https://github.com/directus/directus/commit/2aded9d198a4cda36dcdaf75d9b14edb4b681d77

[2017-05-31 18:37] WellingGuzman commented on #15
Hey @Froelund we could include a new env variable to be set as the sender email which will fallback to the directus user email if not set.

This will be tagged in Directus 6.4 RC2

[2017-05-31 18:37] #15 closed

[2017-06-01 01:42] naeluh commented on #1
Hi,

I am using nginx and getting the 502 on install.

I am able to get through the installation pages but when I click install I end with a 502.

I will grab some error logs and see what happened.

Is the fix only for apache?

Let me know if I can provide any other info.

thanks

[2017-06-01 01:44] WellingGuzman commented on #1
This was an issue with caddy, and it was changed to apache.

@naeluh did you create a docker image using nginx?

[2017-06-01 04:59] Froelund commented on #15
We do actually have an environment variable that specifies the sending email:
https://github.com/directus/directus-docker/blob/master/directus-base-layer/usr/local/bin/run-directus#L6
We should probably update the documentation for the container though.

[2017-06-01 05:22] WellingGuzman commented on #15
Exactly, just in case that email will be different than the actual user email.

[2017-06-02 10:21] 7daysofrain opened #16 "Error connecting to database"
Hi,

When i run ```docker-compose-up```i get the following error:

[code]
This not has to work out of the box?

Thanks

[2017-06-02 14:55] WellingGuzman commented on #16
Hey @7daysofrain, I'm not a fully formed Docker habitant (have no much experience), but this keeps happening to me too, the directus image runs first/faster then the mysql one and bang! this errors happens.

Sometimes I tried a second time and it works.

I tend to use the example on the README which let me start which image separately and avoid the hassle, I have been wanting to get this fixes too

[2017-06-02 15:26] Froelund commented on #16
Hi!
Yes, it could be an issue with mysql not being ready - Thanks for reporting @7daysofrain
I will add [wait-for-it script](https://github.com/vishnubob/wait-for-it) to the container.

[2017-06-02 16:57] 7daysofrain commented on #16
cool, thanks

[2017-06-02 18:25] WellingGuzman commented on #16
@7daysofrain can you confirm if the `wait-for-it-script` did the job?

[2017-06-06 13:09] 7daysofrain commented on #16
Sorry for the delay. Not, its still happening:

[code]

[2017-06-06 15:03] Froelund commented on #16
Ah, I can see our build failed. @WellingGuzman It seems that the base-layer isn't available when the main directus container is building.

[2017-06-07 04:02] WellingGuzman commented on #16
Hey @Froelund, you bumped the version to `0.0.9`, seems you forgot to tag the version. (https://github.com/directus/directus-docker/commit/f69267fc175e0068d720af026dc7195320fc4cd2) I just tagged it, just in case.

About the failed build, the base layer is failing on this instruction `RUN pecl install imagick`

Last lines:
[code]

And the directus image is failing because it didn't found base versi

[2017-06-07 14:24] wittwerch commented on #16
@Froelund the wait-for-it script is not working for me, more specific the is_database_installed function.

`directus    | ERROR 1044 (42000): Access denied for user 'directus'@'%' to database 'tables'`

[code]

It looks like the database is not selected properly and instead it uses part of the execute command? The strang thing is that it works when I execute the mysql command without the wait-for-

[2017-06-14 01:30] WellingGuzman commented on #16
Hey @7daysofrain, does PR #18 fixed the problem for you?

[2017-06-14 01:33] WellingGuzman commented on #16
I forgot the image still failing, we should look into this.

[2017-06-14 16:23] WellingGuzman commented on #16
Thanks to @Froelund and @wittwerch  we have a running docker again, and `docker-compose up` command works perfectly.

Try @7daysofrain with the latest commit and you should be good to go, otherwise let us know and I will open the ticket.

[2017-06-14 16:23] #16 closed

[2017-06-14 22:19] chadfawcett opened #20 "No adapter available for DB type: DB_TYPE"
After your most recent release, I get the following error when trying to start directus.

[code]

Appears to be related to #16

For future releases, could you consider tagging with PATCH versions as well as MAJOR and MINOR? (eg 6.3.1). Otherwise an error like this could cause a production setup to go down.

[2017-06-14 22:26] WellingGuzman commented on #20
Hey @chadfawcett,

Thanks for the suggestions we are going to tag accordingly to directus version in the future releases.

Do you have a complete log of that error? I tried myself locally and the container rain with no problem, so I would love to reproduce this issue.

[2017-06-14 23:13] chadfawcett commented on #20
Hmm. I am unable to replicate it locally on my MacBook. It seems to be only happening on my server. `Ubuntu 16.04.2 x64`

![screen shot 2017-06-14 at 4 08 45 pm](https://user-images.githubusercontent.com/3250463/27158551-53fa5d30-511c-11e7-943b-1e2e1693f58a.png)

[2017-06-14 23:20] WellingGuzman commented on #20
Thanks @chadfawcett, later I will try myself in a Ubuntu machine and get back to you.

[2017-06-14 23:37] chadfawcett commented on #20
Note: Replicated on Ubuntu 14.04 using Docker 17.03.0-ce

[2017-06-15 01:12] awbranch commented on #20
Replicated on my MacBook too. Docker: 17.03.1-ce-mac12

![image](https://user-images.githubusercontent.com/108669/27160978-23ca06ea-5146-11e7-80b7-1a86a35d7442.png)

[2017-06-15 12:49] 7daysofrain commented on #16
same to me, i hit the #20

[2017-06-15 13:01] benhaynes commented on #16
Hey @7daysofrain – are you still experiencing _this_ issue after the latest commits? Do we need to re-open?

[2017-06-15 13:56] 7daysofrain commented on #16
Its not exactly the same issue, bus still cant connect to the db

[2017-06-20 06:48] laportem commented on #20
Also getting the error both running the docker commands manually as well as running docker-compose up.
Any idea on a resolution?

[2017-06-20 23:34] WellingGuzman commented on #20
No yet @laportem, I will have to take a look again, I will get back to you.

[2017-06-22 16:11] canyousayyes commented on #20
I have debugged the problem and able to setup Directus docker image 6.3.9 properly.
The root cause of this bug is **missing config file `/var/www/html/api/config.php`**

If you check the Installation guide, you will see the **this is a required step**.
https://docs.getdirectus.com/6.3.6/#Installation

OK, there are 2 ways to solve the problem, depending on how you want to setup Directus.
I tried l

[2017-06-24 23:24] WellingGuzman commented on #20
Thank you so much for these details information @canyousayyes, I'd give it a try when I got a change.

If someone has tried and can confirm this solve the issue let us know.

[2017-07-04 14:19] truefalse10 commented on #20
@canyousayyes I tried your docker-compose solution but I still get the `No adapter available for DB type: DB_TYPE` error. It seems like docker-compose does not use the fixed api/config.php from the mounted directus folder or am i missing something?

[2017-07-10 14:08] wittwerch commented on #11
@Jcambass Whether to persist data or not is up to your configuration. You can use a second configuration file to override some values from the docker-compose.yml.

docker-compose.override.yml
[code]

The host mount will make sure, that Directus and MySQL data is persisted even when your containers get recreated/destroyed.
Disclaimer: Did not test the entire configuration, but adapted it from anoth

[2017-07-11 05:58] Jcambass commented on #11
@wittwerch Thank for you support. Of course there is the option to write a seperate Docker-Compose File. However In my option this should be a) default or b) documented. Otherwise you'll have to figure out by yourself (I know this isn't hard to do) if the containers have volumes defined.

[2017-07-14 12:15] ppounder commented on #20
I've not tried this, but could you store the config.php locally alongside the docker-compose.yml and then volume map it:
[code]
Will try it later.

[2017-07-19 16:22] mdbarr73 commented on #20
I'm experiencing this issue as well on version 6.4.0. I previously used the config.stub setup and had been working great on previous versions. Is that not implemented, or is there an update on this issue?

Thanks for all your efforts.

[2017-07-31 10:23] joshuafinch commented on #20
Hi all,

Experiencing this same issue for both 6.3.9 and 6.4.0.
(Using `git clone` on this repo, then running `docker-compose up` with no changes to the current HEAD)

Using MacBook Pro with Docker 17.06.0-ce-mac19

[code]

Any potential solutions?

[2017-07-31 10:50] joshuafinch commented on #20
Figured this out.

So following on from @canyousayyes answer - i found that doing the following gets this docker image to work:

1.  Clone the Directus repo `git clone git@github.com:directus/directus.git`
2. Go to the API subfolder
2. Creating, the `config.php` by copying `config_sample.php`
3. Modifying the `config.php` to change `define('DB_HOST', 'localhost');` to `define('DB_HOST', 'mysql');`

[2017-08-02 13:28] WellingGuzman commented on #20
Hey, everyone experiencing this issue, @jedimonkey just sent a patch (https://github.com/directus/directus-docker/commit/a4b25278949ed4d7cb2e3dd30d4f8f4d2013f7d4)  for this issue which could have some the problem of the empty `config.php` file.

Please confirm this also fixes the problem for any one experiencing it.

[2017-08-02 13:50] jedimonkey commented on #11
oh wow! I've just done this (well added a bunch of config changes for persistent data)
WIP internal PR https://github.com/meerkats/directus-docker/pull/2/files
Will PR against upstream soon once we are happy with it.

[2017-08-02 16:34] WellingGuzman commented on #11
Thanks @jedimonkey, that would be really awesome!

[2017-08-02 20:47] ftdube opened #23 "Fatal error: Allowed memory size exhausted"
When loading http://localhost:8080 for the first time after setuping the docker container (using procedure mentioned in https://github.com/directus/directus-docker/issues/20), on Docker for Windows, I get the following content instead of the CMS :

Warning: array_key_exists() expects parameter 2 to be array, integer given in /var/www/html/api/api.php on line 76

Warning: array_key_exists() expects

[2017-08-02 21:19] WellingGuzman commented on #23
@ftdube which Directus version are you using?

[2017-08-02 21:23] WellingGuzman commented on #23
It seems like you don't have the `configuration.php` file, if you are using Directus 6.3, I will fix this issue on Directus 6.3.x to be aware of missing `configuration.php` file on this matter at least.

[2017-08-06 09:09] laportem commented on #20
Patch (a4b2527) makes no different. It works with/without the patch.
As pointed out by @canyousayyes, the trick is to mount both the config.php and configuration.php files.

volumes:
        - ./config.php:/var/www/html/api/config.php
        - ./configuration.php:/var/www/html/api/configuration.php

Good news it works perfectly
Thanks for the help

[2017-08-08 01:07] jedimonkey commented on #20
@laportem: what do you mean it doesn't make any difference?  It certainly fixes the no adapter error.  The init script is designed to write the config, so @canyousayyes's workaround is working around the bootstrap script.  My patch fixes that it correctly detects blank config files and rebuilds them.  You can still mount the config.php/configuration.php through volumes, which will give you persist

[2017-08-08 20:47] WellingGuzman commented on #11
Hey @Jcambass, what @wittwerch recommended what implemented by @jedimonkey in this PR (https://github.com/directus/directus-docker/pull/24).

Does this implement what you were looking for?

[2017-08-09 02:08] laportem commented on #20
Hi @jedimonkey, just feeding back that with or without the patch I still get the DB issue but the moment I mounted the config.php/configuration.php files it all works. Maybe I am doing something wrong but for me I have to forcefully mount these two config files to get pass the DB issue and get the app running ok.

[2017-08-09 07:08] wittwerch commented on #11
I think the implementation is fine, it changes the default behaviour but I think that's the intended way for most of the user!

[2017-08-09 12:19] Jcambass commented on #11
@WellingGuzman Looks fine to me too!

[2017-08-09 15:27] ftdube commented on #23
I believe I was using 6.3 since 6.4 was still in RC at the time.

[2017-08-14 15:26] manurana commented on #20
Hey folks, did a little hacking, and I am taking a guess at what is happening. I am pretty new to docker (this is my first foray), so request some leeway if I am missing something obvious

Even with the latest commit, the dockerfile `directus/6.4/Dockerfile` has the entry `FROM getdirectus/directus-base-layer:0.0.9`. So even if the patch has been created on the repo, `docker compose` is still pull

[2017-08-14 15:29] manurana commented on #20
On a different note, is there a way to see which github commit was used to create a particular image on docker hub ? I know these don't have a 1:1 relation, but in cases like this, a note of some kind would help a lot.

[2017-08-15 04:24] jedimonkey commented on #20
Hey @laportem, see @manurana comments above.  I completely forgot that the base would need to be recompiled, as I've been building it all from base.  But based on the build log https://hub.docker.com/r/getdirectus/directus-base-layer/builds/ it was rebuilt.

@manurana you can only typically see the dockerfile that was built with in docker hub, not the files. But it was built after my changes were

[2017-08-15 07:22] manurana commented on #20
thanks @jedimonkey !
One small addition: you would also have to update the `directus/x.x/Dockerfile` with the new version of `getdirectus/directus-base-layer`

[2017-09-01 22:59] dholbrook86 commented on #20
Followed the solutions listed here to the book. Still getting the same error.
The whole point of Docker is to get something up and running quickly. 2 hours wasted. Time to move to something else. Hopefully Node support is soon. I'll try this then.

[2017-09-10 06:06] WellingGuzman commented on #11
Closed by https://github.com/directus/directus-docker/commit/b161f57a89a12165fcb2edc1766f1cc67a01f576

[2017-09-10 06:06] #11 closed

[2017-09-10 06:39] WellingGuzman commented on #23
Hey @ftdube, 6.4 was in stable release, the readme was outdated.

Please try both again and let us know, it should've been fixed by now I updated both image

[2017-09-10 07:22] WellingGuzman commented on #20
Sorry about you wasted time, we've been trying to fix this issue for some time now. Node support won't be soon, but we are planning on start fully developing it.

On the other hand, I've updated the images on docker hub, so hopefully installing the image should be flawless.

Please anyone who can confirm let us know.

Thanks to everyone contributing and helping solve this bug.

[2017-09-11 18:06] dholbrook86 commented on #20
Don't mind me. I was frustrated. Sorry if I was rude. Thanks so much for updating the docker image. I will try blowing everything away and retrying the installation. I can't do it right now, but I just wanted to say thank you and apologize for my last "entitled" post.

[2017-09-14 21:28] soapoperator opened #25 "Permission error"
I clone the project and run the container after some modifications in the docker-compose file like this:
[code]

After ligin into Directus, i try to make some configuration.
Then i get a permission error when i try to add files:
[code]
I guest it's a issue with the user used in the dockerfile. So i remove the www-data mention without success.

Any help will be appreciate?

[2017-10-03 11:58] cgarnier commented on #25
(work arround)
[code]

[2017-10-03 12:10] cgarnier commented on #25
It s appening because storage is empty when we mount it.
In directus-run, the storage default files must be copied into ./storage if they dont exist.

[2017-10-03 14:04] cgarnier opened #26 "/storage must be a volume"
Storage must be declared as a volume. Else user data wont be persisted by default.

[code]

In directus-run, default storage files must be copied into the mounting point if they dont exist.

[2017-10-17 07:55] wittwerch opened #27 "Use a tag per patch version"
Currently all images including patch releases from Directus 6.4 are tagged as 6.4.
It would be great if you could create a tag per patch version so we can properly reference the image and don't get a newer one.

[2017-10-17 23:40] WellingGuzman commented on #27
Thanks @wittwerch, I will be work on that one.

[2017-10-17 23:41] WellingGuzman commented on #26
@cgarnier would you care to open a PR?

[2017-10-19 16:22] WellingGuzman commented on #27
Hey @wittwerch I have created patch version tags for 6.4.x the last two versions

Ref: https://hub.docker.com/r/getdirectus/directus/tags/

[2017-10-19 16:22] #27 closed

[2017-10-19 16:23] WellingGuzman commented on #20
All good! I will close this issue as it was already fixed as soon as we updated the images (on docker hub).

Thanks everyone!

[2017-10-19 16:23] #20 closed

[2017-10-19 17:15] wittwerch commented on #27
Awesome, thx!

[2017-12-12 14:50] cgarnier opened #28 "DIRECTUS_ADMIN_TOKEN"
Could you add a env to set the admin token ?
Thanks,

[2017-12-15 02:51] jedimonkey opened #30 "File uploads limited to 2M"
Made a PR #29  that bumps this to 20Mb file size with a 50Mb post size (this could be a bit smaller though)
Let me know what you think, but 2Mb is just too small for file uploads.

[2017-12-15 03:21] WellingGuzman commented on #30
Thanks @jedimonkey!

[2017-12-15 03:22] #30 closed

[2017-12-15 03:23] WellingGuzman commented on #28
Hey @cgarnier, How are you going to use this? or what are you referring to?

The user access token, It's a token created randomly per user.

[2017-12-15 16:04] cgarnier commented on #28
I need it to use the api.

[2017-12-16 17:56] WellingGuzman commented on #28
I mean, how are you going to use the env. you can get the user token using the `POST api/1.1/auth/request-token` and send `email:<email>&password:<password>`

[2017-12-25 21:36] simondegheselle opened #32 "Add CORS headers to API response"

[2017-12-26 00:33] WellingGuzman commented on #32
Hey @simondegheselle, have you tried using the `cors` settings in `configuration.php`

Or are you asking to an option to enable from the dockerfile?

[2017-12-27 23:10] simondegheselle commented on #32
Hi @WellingGuzman, it worked using a local directus git checkout and modifying the `configuration.php` file, thanks!

[2018-01-08 09:32] cgarnier opened #33 "Release"
Hello,
Could you release the docker with a ci or something.
There is still no 6.4.5 image.
Could you tag the last image with latest too?
Thanks,

[2018-01-08 16:59] WellingGuzman commented on #32
Awesome! Glad to hear!

[2018-01-08 16:59] #32 closed

[2018-01-08 17:00] WellingGuzman commented on #33
We will have to implement something to automate this.

For the moment I will tag and release the latest

[2018-01-13 07:03] soapoperator commented on #25
Finally i change user and group of ./storage to www-data.
It seems to work.

Thank you for the help.

[2018-01-13 07:03] #25 closed

[2018-01-15 10:07] cgarnier opened #34 "Configs"
Hey,
I encountered an issue with the generated configs.
For adding custom endpoint, i need to modify the configuration file. The problem is that the file is auto generated if config is not existing so it override it.
The workarround is to COPY the both files (config.php and configuration.php) but we loose the interest of generation.
Is it possible to re think how it s done in your install scripts

[2018-01-15 20:35] WellingGuzman commented on #34
This is a good idea @cgarnier, right now I'm short in time, if I got a chance to do it before someone else, that would be great! otherwise It has to wait until I have some time to work on it.

[2018-01-16 11:28] arboehme opened #35 "": No such file or directory php" after mounting of a local directus git repository"
Hi,

if I try to mount my local directus git repository to the `/var/www/html` in the `docker-compose.yml`, the directus container goes in the loop with error `:No such file or directory php`  The line is logged out right after `Running directus!`

If I comment out the volume mount, all works as expected.

Here the corresponding line:

[code]

`DIRECTUS_LOCAL` is set to full-qualified path to the

[2018-01-16 17:08] cgarnier opened #36 "opcache and volumes"
Hey,
We need a way to disable opcache during development because cache overlaps the volumes changes.

[2018-01-16 19:32] arboehme commented on #35
Hi,

after spending some hours digging in the build process of the directus docker container, I was able to resolve the issue. (Un-)Fortunately it was on my side.  :)

I found out, that the problem was the "hashbang"  `#!/usr/bin/env php` in the `bin/directus` script, which is called by `run-directus` command.

The reason was the wrong line endings. Since I'am on Windows and my git client uses `co

[2018-01-16 19:32] #35 closed

[2018-01-20 22:03] WellingGuzman commented on #35
Hey @arboehme is there a way we can set this into the repo?

[2018-01-26 07:53] jedimonkey commented on #34
I ended up doing some trickery and made a custom 'start' script that lets it generate, but moves it to a './config' folder which is a volume and symlinks it back.  Then manually customised them as required.  I would think it would be better to have persistent configs over environment variables substitutions  otherwise every possible combination would need to be added to the config files.  The only

[2018-02-02 18:35] spawnrider opened #38 "PHP OPCache issue"
## Version Info
  - Directus version and branch: Using [Directus Docker ](https://github.com/directus/directus-docker)last 6.4 version
  - PHP version: 7.1.2
  - MySQL version: 5.5
  - Web server: Apache
  - OS name and version: Windows 10

## Expected Behavior
I am currently developing an extension with an API. The API seems to be cached by the system.
When PHP_OPCACHE_ENABLED environment variabl

[2018-02-02 18:39] WellingGuzman commented on #38
Hey @spawnrider thanks for the report. we will give this a look in the coming days, unless someone can give it a look before us.

[2018-02-02 18:42] spawnrider commented on #38
Thanks for your reply !
A workaround is to set the opcache.enable=off directly in the /usr/local/etc/php/conf.d/docker-php-ext-opcache.ini file

[2018-02-17 10:24] tiptronic commented on #28
Sorry to bring this up again, but it seems I can't get the admin-token:
If I send a POST request to:
http://directus.test/api/1.1/auth/request-token?email=my%40example.com&password=12345

I always get
[code]
the user exists!
Anything I'm missing here?

[2018-02-17 11:24] tiptronic commented on #28
Nevermind... I found the problem:
To send the request, I have to add

`Content-Type:application/x-www-form-urlencoded`

to the headers

[2018-02-28 19:41] filidorwiese opened #40 "The current 6.4 image seems buggy"
Hi! Maybe it's me and I just need more guidance. But after starting a fresh mysql and directus 6.4 docker container, as instructed in the readme, I found the installation of Directus quite buggy.

For example, when trying to create a new user I get this error:

[code]

When creating a new table, I don't get any option to change the table settings, add fields to the table or anything anywhere. It a

[2018-02-28 20:04] WellingGuzman commented on #40
Hey @filidorwiese Thanks for the report, we had a major bug on the `6.4.7` release and we fixed it on `6.4.8` with https://github.com/directus/directus/commit/51f8cbcbc5369f0625f9d30c7cd84d08ccb16829.

The docker image is being currently build right now.

Ref: https://hub.docker.com/r/getdirectus/directus/builds/

[2018-02-28 20:04] #40 closed

[2018-03-08 14:23] incyclum opened #41 "Server Error Impossible to create the root directory "/var/www/html/storage/uploads" error message in the UI"
Steps to reproduce:
- Freshly cloned repo (commit d0e23c3)
- Docker-compose up
- Login with default admin credentials
- Change admin details and upload avatar file
- Click save

Got: `Server Error Impossible to create the root directory "/var/www/html/storage/uploads".`

[2018-03-09 08:28] WellingGuzman commented on #23
I will close this until it can be replicated again

[2018-03-09 08:28] #23 closed

[2018-03-20 13:59] lastlink commented on #28
I'm able to retrieve the admin token. However this isn't working for any other normal users. I can log them in directly to the directus website, but trying to retrieve their token gives the same error as everyone else.

`
{
  "success": false,
  "error": {
    "message": "Incorrect email or password"
  }
}
`

 ## api request-token:

[code]

[2018-03-21 03:46] WellingGuzman commented on #28
@lastlink this may be related to https://github.com/directus/directus/issues/2099 fixed by https://github.com/directus/directus/commit/164c09556d60bb0b4b72f4610537c54e0a0d01e6

This happens when the user has not token.

---
As we are not setting the admin token as environment either unless there's a good example on why, I will re-open it.

[2018-03-21 03:46] #28 closed

[2018-04-21 02:30] WellingGuzman opened #42 "Move all specific scripts to the image it belongs to"
Move all scripts related to the Directus app and Directus api to each image instead and copy accordingly.

[2018-04-27 07:37] asancmat opened #44 "Container "43a7b9612409" is unhealthy"
I'm running docker-compose up and i'm having a problem whith one of the docker containers.

I've the same issue using directus:6.3 and directus:6.4

Digest: sha256:db179c3544d2e84ccc5dbef6d70d793cf2817a48045d7d846f7cfeb8e111afa5
Status: Downloaded newer image for getdirectus/directus:6.4
Creating mysql ... done

ERROR: for directus  Container "43a7b9612409" is unhealthy.
ERROR: Encountered errors

[2018-04-27 07:43] WellingGuzman commented on #44
Hey @asancmat, I have bumped the interval for the check to 5sec, I think this should be enough time. can you update to the latest commit and see if it works this time?

[2018-04-27 18:56] esanchma commented on #44
I can confirm that setting the healthcheck interval to 5s works for me, when 1s didn't.

[2018-04-27 19:01] WellingGuzman commented on #44
Thanks @esanchma! I will close it.

At first it was working normal on 1s, but that was too fast and it will depends on the machine or the power it has at the moment, but that combination of 5s (interval), 6s (timeout) and 10 (retries) should do it, otherwise let us know!

[2018-04-27 19:01] #44 closed

[2018-05-23 12:14] incyclum opened #45 "Error message about docker-compose.yml file"
Freshly cloned from 527d17f (release 0.0.18), docker-compose up returns:

[2018-05-23 12:19] WellingGuzman commented on #45
Hey @incyclum, We are using docker compose 2.1, this version requires Docker 1.12.0+. Which Docker version are you using?

[2018-05-23 12:20] incyclum commented on #45
I just updated to docker-compose version 1.21.2, build a133471. It fixed that error.
You probably might want to update README file to say that compose 2+ is needed.

[2018-05-23 12:32] incyclum commented on #45
I think the issue was related to the docker-compose binary itself (mine wasn't updated) and not the docker engine.

Because I just updated the compose binary and not Docker itself.

Output of `docker version`:
[code]

But after reading [Compose file version 2 reference](https://docs.docker.com/compose/compose-file/compose-file-v2/) I see your point.

Thanks @WellingGuzman

[2018-05-23 12:36] WellingGuzman commented on #45
I will make sure it's the docker engine version and not the docker "app" version.

I don't know what should I reference in the readme, but hopefully letting people the docker engine and docker compose file version will help them troubleshoot some issues.

Thanks for the information @incyclum

[2018-05-23 12:49] incyclum commented on #41
FIY I still have that issue on ref. 0.0.18.

[2018-05-23 12:50] incyclum commented on #41
Also sample image "Mountain Range" in File Library is broken.

[2018-06-15 18:42] benhaynes opened #46 "Submit to become Official Docker Repository"
Once v7 is released, and we have a few months under our belt, we will go through our Dockerfile and ensure it is expertly done. At that point we will submit a PR to [their repo](https://github.com/docker-library/official-images).

**ETA: Q4 2018**

https://docs.docker.com/docker-hub/official_repos/#how-do-i-know-the-official-repositories-are-secure

[2018-06-20 07:43] beac0n commented on #41
this also happens if you want to create a new user

[2018-06-20 08:09] beac0n commented on #41
The problem does NOT occure if the volume is removed. So I gues there is some kind of issue with the mounting of the volume

[2018-06-20 12:28] beac0n commented on #41
after adding the "uploads" folder manually, I can delete predefined images, but not add new ones. The error message is: "No permission to write: filename.png"

[2018-06-20 13:10] beac0n commented on #41
Maybe an issue with apache2? https://stackoverflow.com/questions/23836416/permission-issues-with-apache-inside-docker

[2018-06-20 14:32] beac0n commented on #41
I found a temporary fix. Execute
[code]
after the container has started.
The issue is, that the storage folder is owned by root:root after mounting it as a volume.

[2018-06-21 09:46] linonetwo commented on #28
@tiptronic That helps. I was using Raw JSON to POST and always get "Incorrect email or password", switching to `x-www-form-urlencoded` solved this.

[2018-07-03 09:31] Rebjai opened #47 "landing page "down arrow" not working"
the page doesn't scroll down when i click it

[2018-07-13 07:48] phcoliveira opened #48 "Can't get a local checkout to work with Docker."
How to reproduce this error:

- Clone the [api](https://github.com/directus/api) repo.
- Clone this repo as well.
- Mount the `api` root folder on `/var/www/html`, like it was suggested on the file `docker-compose.yml`.
- It will work on the first time because, on `api`, there still is no file `config/api.php`.
- Restart Docker Compose.
- The application does not get ready because there already is

[2018-07-23 13:48] JacopoBonta commented on #16
Hi,
I'm still experiencing the issue.
This is my docker-compose file
[code]
First time, directus service has fired up before the mysql one (despite the [depends_on](https://docs.docker.com/compose/compose-file/#depends_on)). I thought mysql have not finished the configuration steps or whatever. But running again `docker-compose up` produce the same error every time. Maybe something wrong with my d

[2018-07-30 17:30] ezanattatray opened #49 "Docker for version 7"
Currently, docker only has the option of version 6, would have a forecast of the availability of the new version?

[2018-07-31 14:32] benhaynes commented on #49
`beta.4` will be released in a few hours, next week is `rc.1`, then we'll either have `rc.2` or the full release... depending on community feedback. We'll be creating a Docker container with the proper release... and perhaps for the RC.

[2018-07-31 14:40] ezanattatray commented on #49
Thank you for this information @benhaynes

[2018-08-17 10:55] incyclum commented on #41
`Docker version 18.06.0-ce, build 0ffa825`

I did not created the storage folder, just did a docker-compose up.

[2018-08-20 10:48] beac0n commented on #41
I dug a little deeper.
After changing the folder owner from root:root to http:http on the host system, the issue was gone.

[2018-08-30 06:48] beac0n commented on #41
Just came back to this again.
It seems like it has something to do with file permissions on the local host.

Instead of doing
[code]
I did
[code]
Which let's docker decide where to store the volume.
Looks like this works fine...

[2018-08-30 08:26] beac0n commented on #41
I have not tried that. But it would really surprise me if it wouldn't work, because afaik docker will just give the volume the specified name

[2018-10-08 10:09] simofacc commented on #49
@benhaynes Is there a combined version that sets up the API and the APP like it happens now with the 6.4 docker compose file?

[2018-10-08 10:18] k15a commented on #49
@simofacc There is one here: https://github.com/directus/directus-docker/tree/v7 but it seems that it's not working correctly at least for me. Maybe you can check it out and fix it.

[2018-10-08 12:48] benhaynes commented on #49
Version 7 has a bunch of ways you can use Docker. You can install the App/API individually with it (each repo has a Dockerfile), or install the bundle (what you're looking for) on the combined-build v7 branch:

https://github.com/directus/directus/tree/build-v7

No need for a dedicated Docker repo after we release v7!

[2018-10-09 06:28] simofacc commented on #49
@benhaynes looks like the app is missing from the docker installation. The API and DB are setup but the app is not within that branch.

[2018-10-09 12:02] benhaynes commented on #49
Yeah, I read into that issue yesterday too. It's been fixed in the API (a commit yesterday) and will be pushed in the next release.

[2018-10-20 10:03] k15a commented on #49
Using the https://github.com/directus/directus/tree/build-v7 works for me. You only have to clone it and run `docker-compose up`.

[2018-10-21 14:14] Marcnuth commented on #49
Thanks, @k15a.

Finally, I used the separated repositories: app & api to build latest docker images.

[2018-10-24 17:36] lrkwz commented on #49
It isn't available through `https://hub.docker.com/r/getdirectus/directus/` ?

[2018-10-25 23:42] benhaynes commented on #49
I believe that link is for v6, once we have everything looking good for v7 we'll be updating our docker hub... in fact our new Hub Organization name is `directus` (which we'll use for v7+).